* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #e0201c;
  padding: 5px 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header .rightSide {
  display: flex;
  flex-wrap: wrap;
  
}

.leftSide > p {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  
  
}

.rightSide p:first-child a {
  border-right: 2px solid white;
  padding-right: 28px;
  margin-right: 28px;
  display: inline-flex;
  align-items: center;
}
.rightSide p > a {
  font-family: Poppins, sans-serif;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.rightSide img {
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .leftSide > p {
    display: none;
  }

  header {
    justify-content: flex-start;
    padding: 5px 30px;
  }
}

@media screen and (max-width: 464px) {
  .rightSide p:first-child a {
    border: none;
}
}

